body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  
}

footer {
  text-align: right;
  color: midnightblue;

}
.left{
  float: left;
}
.right{
  float: right;
}
.card{
  width: 45%;
}
.tile-image{
  float: left;
  width: 200px; 
  margin-right: 50px;
}
@media (max-width:600px){
  img{
    width: 100px;
  }
  h1{
    text-align: center;
    font-size: 48ox;
}
.card img{margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  
}
.card{
  display: block;
  text-align: justify;
  width: 100%;
}
}